# Ignore node_modules in the root
/node_modules

# Ignore node_modules in the React frontend directory
/stripe-app/node_modules

# Ignore node_modules in the Node.js server directory
/stripe-server/node_modules

# Other common ignores
.DS_Store
.env
/build
